
@each $name,
$value in $theme-color {
  .badge-#{$name} {
    color: $name !important;
    background-color: $value !important;
  }

  .badge-light-#{$name} {
    font-size: 0.8rem !important;
    font-weight: 700 !important;
    padding: 0.35em 0.65em !important;
    @extend %radius;
    color: $value !important;
    background-color: theme-light-color($name) !important;
  }
  .bg-#{$name} {
    background-color: $value !important;
  }
}



