.point-cursor {
  cursor: pointer;
}

.btn {
  outline: none !important;
  border: 0 !important;
  font-weight: inherit !important;
  padding: 8.15px 17.25px !important;
  @extend %radius;

  &:hover {
    color: white;
  }
}

.btn-sm {
  padding: 6.15px 15.25px !important;
}


@each $name,
$value in $theme-color {
  .btn-#{$name} {
    background-color: $value !important;
  }

  .btn-light-#{$name} {
    color: $value;
    background-color: theme-light-color($name) !important;

    #time-3-icon {
      fill: $value;
    }

    &:hover {
      background-color: $value !important;

      #time-3-icon {
        fill: $white;
      }
    }
  }

  .btn-icon-#{$name} {
    outline: none !important;
    border: 0 !important;
    font-weight: inherit !important;
    padding: 5.15px 8.25px !important;
    background-color: var(--bs-btn-bg) !important;

    @extend %radius;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    // background-color: $value;
    &:hover {
      color: $value;
    }
  }
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}



.popup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 6px 7px 6px rgb(0 0 0 / 20%);
  z-index: 1;
  padding: 7px 0;
  @extend %radius;
}

.popup {
  position: relative;
  display: inline-block;

  &:hover {
    .popup-content {
      display: block;
    }
  }
}

[data-link-hover='true'] {
  padding: 0 15px;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}