.chat {
  position: absolute;
  bottom: 3rem;
  right: 3rem;

  &:hover {
    border-radius: 50%;
    box-shadow: 0 0 14px 0px orange;
  }
}

.scroll {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 10px;
  }
}

.chat-icon {
  cursor: pointer;
  padding: .5rem;
  background: orange;
  border-radius: 50%;
  box-shadow: 0 0 14px 0px orange;
}

.owner_chat {
  display: table;
  margin-right: 1.8rem;
  margin-left: auto;

  .chat_text {
    padding: .5rem 1rem;
    border-radius: 0.7rem;
    background: $primary;
    color: white;
    font-weight: 500;
  }
}

.other_chat {
  display: table;
  margin-left: 1.8rem;

  .chat_text {
    padding: .5rem 1rem;
    border-radius: 0.7rem;
    background: $secondary;
    color: rgb(95, 95, 95);
  }
}

.date {
  font-size: 11px;
  color: rgb(168, 168, 168);
}


.chart-header {
  background: $primary;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.3rem;
  justify-content: start;
  align-items: center;
}