* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

.sidebar-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: -20px 14px 35px;
  padding: 0 .5rem;
  transition: width 0.2s linear;

  &:hover {
    width: 250px;
    transition: all 0.5s ease;
  }

  .scrollbox {
    overflow: auto;
    overflow-x: hidden;
    // padding-right: 5px;
    visibility: hidden;

    &:hover {
      visibility: visible;
    }
  }


  .scrollbox-inner {
    visibility: visible;
  }

  .link {
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    color: $dark;
    text-decoration: none;
    padding: 0.8rem;
    transition: all .2s ease-in-out;
    @extend %radius;

    &:hover {
      color: $white;
      background-color: $primary;
      // transform: scale(1.04); 

      // &::before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   top: 0px;
      //   height: 50px;
      //   width: 5px;
      //   background: var(--light-color);
      // }
    }

  }

  .header {
    display: grid;
    grid-template-columns: max-content max-content;
    font-size: 32px;
    color: $dark;
    padding: 5px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 2rem;

    .logo {
      opacity: 50%;
    }
  }
}

.active {
  color: $white !important;
  background: $primary;
  @extend %radius;
}

.menu-arrow-menu {
  color: $white;
  background: $dark;
  font-size: 45px !important;
  position: absolute;
  top: 0;
  right: -25px;
  border-radius: 8px;
  margin: 10px 5px 10px 0;
  transition: 0.5s;

  // &:hover {
  //   color: $primary;
  //   background: $white;
  // }
}

.active-arraow {
  color: $primary;
  background: $white;
}

.rotate-180 {
  transition: .5s;
  rotate: 180deg;
}

.show-menu {
  width: 250px;
  transition: all 0.5s ease;

}

.space-toggle {
  width: calc(100% - 400px);
  transition: all 0.5s ease;
}

@media (width <= 990px) {
  .sidebar-1 {
    left: 0;
    height: 100%;
    width: 250px;
    transition: all 0.5s ease;
  }

  .menu-arrow-menu {
    position: fixed;
    left: 0;
    top: 0;

  }

  .active-arraow {
    transition: all 0.5s ease;
    left: 250px;
  }

  .show-menu {
    left: -250px;
    height: 100%;
    transition: all 0.5s ease;
    box-shadow: -20px 14px 35px;
  }
}